* {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 10px;
}

li {
    text-align: justify;
    margin: 8px;
    
}

.links-list {
    border: 5px;
    text-align: center;
}

.links-list ul {
    text-align: inherit;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.links-list ul li {
    text-align: inherit;
    margin: 20px;
    padding: 5px;
}

img {
    height: auto;
    width: 500px;
}

.description, .ingredients, .steps, .introduction, .links-list{
    background-color: antiquewhite;

    border: 3px solid black;
    border-radius: 5px;
    padding: 10px;
}

h2 {
    border: 1px dotted black;
    border-radius: 5px;
    margin: 30px;
    padding: 10px;
}

ul, ol {
    background-color: aliceblue;
    border: 1px solid black;
    border-radius: 5px;
}

a {
    font-size: medium;
    color: darkblue;
    font-style: normal;
}

p {
    text-align: justify;
    margin: 30px;
}