* {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 10px;
}

li {
    text-align: justify;
    margin: 8px;
    border: solid;
    border: 1px solid brown;
    
}

.links-list {
    border: 5px;
    text-align: center;
}

.links-list ul {
    text-align: inherit;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.links-list ul li {
    text-align: inherit;
    margin: 20px;
    padding: 5px;
}

img {
    height: auto;
    width: 500px;
}

.description, .ingredients, .steps {
    border: 1px solid black;
    border-radius: 5px;
}